@import "tailwindcss";

@theme {
  --font-display: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Inter,
    Helvetica, Arial, "Noto Sans", sans-serif;
  --font-body: ui-sans-serif, system-ui, Inter, Helvetica, Arial, "Noto Sans",
    sans-serif;
  --font-red: "Red Hat Mono", monospace;
}

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}
