@import 'tailwindcss';

@theme {
  --font-redhatmono: 'Red Hat Mono', monospace;
  --font-src: 'Source serif 4', sans-serif;
}

.paper-grain {
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  mix-blend-mode: overlay;
  opacity: 0.15;
}
